body {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    width: 100%;
    height: 128px;
    background-color: rgba(231, 108, 31, 1);
    display: flex;
    justify-content: center;
    align-items: center;

    .header-content {
        width: 100%;
        height: 100%;
        max-width: 1440px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .left-icons {
            display: flex;
            gap: 4px;

            .dinner {
                width: 34px;
                height: 38px;
            }

            .bestellapp {
                width: 55px;
                height: 37px;
            }
        }

        .menu-icon {
            width: 45px;
            height: 35px;
        }
    }
}

main {
    width: 100%;
    height: 100%;
    min-height: calc(100svh - 256px);
    display: flex;
    flex-direction: column;
    align-items: center;

    .hero {
        width: 100%;
        max-width: 1440px;
        height: 400px;
        object-fit: cover;
        display: flex;
        justify-content: center;
        background-image: url("./assets/img/hero.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;

        .burer-logo {
            width: 200px;
            height: 200px;
            border: 13px solid rgb(253, 234, 220);
            border-radius: 50%;
            object-fit: cover;
            transform: translateY(280px);
            z-index: 2;
        }
    }

    .headline {
        width: 100%;
        max-width: 1440px;
        margin: 87px 0 52px 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .h1-rating {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 26px;
            padding-bottom: 24px;

            h1 {
                color: rgba(231, 108, 31, 1);
                font-family: "Palanquin Dark";
                font-size: clamp(2.5rem, calc(2.357rem + 0.714vw), 3rem);
                line-height: 120%;

                span {
                    color: black;
                }
            }

            .ratings {
                width: 110px;
                height: 32px;
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 8px;
                margin-top: 8px;
                background-color: rgba(250, 202, 172, 1);
                border-radius: 4px;
                font-size: 20px;
                font-weight: 400;
                line-height: 120%;
                color: rgba(54, 53, 52, 1);

                img {
                    width: 24px;
                    height: 23px;
                }

                .likes {
                    font-size: 18px;
                    line-height: 120%;
                    color: rgba(114, 109, 109, 1);
                }
            }
        }

        .descr {
            font-size: clamp(1.38rem, calc(1.339rem + 0.179vw), 1.5rem);
            line-height: 120%;
            display: flex;
            flex-wrap: wrap;
            text-align: center;
        }
    }

    .order-section {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        .menu-section {
            height: 100%;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .basket-wrapper {
                width: 320px;
                height: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                z-index: 1;
                font-size: clamp(1.5rem, calc(1.357rem + 0.714vw), 2rem);
                line-height: 120%;
                position: absolute;
                right: 0;

                .basket {
                    width: 320px;
                    background-color: rgba(54, 53, 52, 1);
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: flex-start;
                    padding-top: 32px;
                    border-top-left-radius: 30px;
                    border-bottom-left-radius: 30px;
                    position: sticky;
                    top: 0;

                    .basket-content {
                        width: 100%;
                        height: 100%;
                        display: flex;
                        flex-direction: column;
                        align-items: center;

                        .close-basket {
                            width: 80%;
                            height: 24px;
                            display: flex;
                            justify-content: flex-end;
                            align-items: center;
                            background-color: rgba(54, 53, 52, 1);
                            color: rgba(253, 234, 220, 1);
                            font-size: 22px;
                            border: none;
                            border-radius: 50%;
                            display: none;
                        }
                        .close-basket:hover {
                            cursor: pointer;
                        }
                        h3 {
                            color: rgba(253, 234, 220, 1);
                            font-size: clamp(
                                1.8rem,
                                calc(1.357rem + 0.714vw),
                                2rem
                            );
                            line-height: 120%;
                            display: flex;
                            justify-content: center;
                            margin-bottom: 18px;
                        }

                        .empty-basket {
                            color: rgba(253, 234, 220, 1);
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            padding-top: 32px;

                            p {
                                font-size: 22px;
                                line-height: 120%;
                                display: flex;
                                flex-wrap: wrap;
                                justify-content: center;
                                align-items: center;
                                width: 100%;
                                text-align: center;
                                padding: 0 8px;
                            }
                            img {
                                width: 128px;
                                height: 128px;
                                margin-top: 72px;
                            }
                        }

                        .dish-wrapper {
                            height: 366px;
                            margin-bottom: 30px;
                            display: flex;
                            flex-direction: column;
                            flex-wrap: nowrap;
                            overflow-x: auto;

                            --sb-track-color: rgba(54, 53, 52, 1);
                            --sb-thumb-color: rgba(231, 195, 173, 1);
                            --sb-size: 6px;

                            .dishes {
                                width: 270px;
                                display: flex;
                                flex-direction: column;
                                justify-content: space-between;
                                align-items: space-between;
                                background-color: rgba(253, 234, 220, 1);
                                margin-bottom: 10px;
                                margin-right: 10px;
                                border-radius: 20px;
                                padding: 20px;

                                .name-trash {
                                    display: flex;
                                    align-items: center;

                                    h4 {
                                        width: 90%;
                                        font-size: 22px;
                                        line-height: 120%;
                                        display: flex;
                                        flex-wrap: wrap;
                                    }
                                    button {
                                        border: none;
                                        height: 18px;
                                        width: 16px;

                                        img {
                                            background-color: rgba(
                                                253,
                                                234,
                                                220,
                                                1
                                            );
                                        }
                                        img:hover {
                                            background-color: rgba(
                                                231,
                                                108,
                                                31,
                                                1
                                            );
                                            cursor: pointer;
                                        }
                                    }
                                }

                                .order-price {
                                    display: flex;
                                    align-items: center;
                                    justify-content: space-between;
                                    margin-top: 8px;
                                    height: 30x;

                                    .count {
                                        width: 20px;
                                        display: flex;
                                        justify-content: center;
                                    }

                                    .plus-btn {
                                        font-size: 26px;
                                        line-height: 120%;
                                        width: 18px;
                                        display: flex;
                                        align-items: flex-start;
                                        justify-content: center;
                                        margin-bottom: 2px;
                                    }

                                    .plus-btn:hover {
                                        cursor: pointer;
                                    }

                                    .minus-btn {
                                        font-size: 48px;
                                        line-height: 120%;
                                        width: 20px;
                                        height: 20px;
                                        display: flex;
                                        align-items: center;
                                        justify-content: center;
                                        margin-bottom: 6px;
                                    }

                                    .minus-btn:hover {
                                        cursor: pointer;
                                    }

                                    .dish-order {
                                        width: 100%;
                                        display: flex;
                                        align-items: center;
                                        gap: 2px;
                                        font-size: 24px;
                                        font-weight: 600;
                                        line-height: 120%;
                                    }

                                    .price {
                                        width: 130px;
                                        display: flex;
                                        justify-content: flex-end;
                                        font-size: 22px;
                                        line-height: 120%;
                                    }
                                }
                            }
                        }

                        .price-table {
                            width: 280px;
                            color: white;
                            display: flex;
                            flex-direction: column;

                            .sub-fee {
                                display: flex;
                                flex-direction: column;
                                gap: 8px;
                                padding-bottom: 19px;
                                font-size: 20px;
                                font-weight: 600;
                                line-height: 120%;

                                .sub {
                                    display: flex;
                                    justify-content: space-between;
                                }

                                .fee {
                                    display: flex;
                                    justify-content: space-between;
                                }

                                h5 {
                                    font-size: 20px;
                                    line-height: 120%;
                                }
                            }

                            .total {
                                display: flex;
                                justify-content: space-between;
                                border-top: 3px solid white;
                                padding-top: 12px;
                                padding-bottom: 31px;
                                font-size: 22px;
                                line-height: 120%;

                                h5 {
                                    font-size: 22px;
                                    line-height: 120%;
                                }
                            }
                        }

                        .order-btn {
                            width: 200px;
                            height: 64px;
                            background-color: rgba(231, 108, 31, 1);
                            color: white;
                            font-size: 30px;
                            line-height: 120%;
                            border-radius: 60px;
                            margin-bottom: 32px;
                        }

                        .order-btn:hover {
                            cursor: pointer;
                            color: black;
                        }
                    }
                }
            }

            .category {
                width: 100%;
                height: 60px;
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: rgba(231, 108, 31, 1);

                .category-content {
                    width: 720px;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                    color: white;
                    margin-right: clamp(
                        0rem,
                        calc(65.199rem - 72.443vw),
                        15.938rem
                    );

                    img {
                        width: 88px;
                        height: 91px;
                        transform: translateY(-10px);
                    }
                    h2 {
                        font-size: clamp(
                            2rem,
                            calc(1.857rem + 0.714vw),
                            2.5rem
                        );
                    }
                    .pizza-span {
                        font-weight: 400;
                        font-size: clamp(
                            1.5rem,
                            calc(1.214rem + 1.429vw),
                            2.5rem
                        );
                        line-height: 120%;
                    }
                }
            }

            .cat-menu {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                padding: 16px 0 45px 0;
                width: 100%;
                max-width: 1440px;

                .menu-box {
                    width: 100%;
                    max-width: 713px;
                    background-color: rgba(253, 234, 220, 1);
                    padding: 10px;
                    margin-bottom: 8px;
                    margin-right: 100px;
                    display: flex;
                    gap: 16px;
                    border-radius: 12px;

                    .dish-img {
                        width: 207px;
                        height: 121px;

                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                            border-radius: 12%;
                        }
                    }

                    .menu-descr {
                        width: 100%;
                        height: 106px;
                        display: flex;

                        .menu-text {
                            display: flex;
                            flex: 1;
                            flex-direction: column;
                            align-items: flex-start;

                            h3 {
                                font-size: 24px;
                                font-weight: 600;
                                line-height: 100%;
                                padding-bottom: 8px;
                            }

                            p {
                                display: flex;
                                flex-wrap: wrap;
                                font-size: 16px;
                                font-weight: 500;
                            }
                        }
                        .menu-price {
                            height: 100%;
                            display: flex;
                            flex-direction: column;
                            justify-content: space-between;

                            p {
                                width: auto;
                                font-size: 24px;
                                font-weight: 600;
                                text-align: right;
                                background-color: yelow;
                            }

                            button {
                                width: 120px;
                                height: 30px;
                                font-size: 14px;
                                font-weight: 600;
                                padding: 5px 8px;
                                border-radius: 20px;
                                border: none;
                                background-color: white;
                            }

                            .btn-addet {
                                color: rgba(231, 108, 31, 1);
                            }

                            .btn-addet:hover {
                                color: red;
                                cursor: pointer;
                            }

                            button:hover {
                                color: rgba(231, 108, 31, 1);
                                cursor: pointer;
                            }
                        }
                    }
                }
            }
        }
    }
}

.footer {
    width: 100%;
    height: 128px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(231, 108, 31, 1);

    .footer-content {
        width: 100%;
        max-width: 1440px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 72px;
        color: white;
        font-size: 18px;
        line-height: 120%;
    }
}

.mobil-nav {
    background-color: rgba(54, 53, 52, 1);
    z-index: 2;
    height: 78px;
    width: 100%;
    display: none;

    .nav-content {
        width: 100%;
        max-width: 1440px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;

        a:hover {
            cursor: pointer;
        }

        img {
            width: 24px;
            height: 24px;
            object-fit: cover;
        }
        .basket-icon {
            width: 32px;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            padding-bottom: 10px;

            p {
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 12px;
                width: 16px;
                height: 16px;
                color: rgba(231, 108, 31, 1);
                z-index: 1;
                top: 0;
                background-color: rgba(253, 234, 220, 1);
                border-radius: 50%;
                border: none;
                padding: 2px;
                transform: translateX(12px) translatey(8px);
            }
        }
        .basket-icon:hover {
            cursor: pointer;
        }
    }
}

dialog.opened {
    transition: all 300ms ease-in-out;
    margin: auto;
    padding: 32px 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    background-color: rgba(54, 53, 52, 1);
    color: rgba(253, 234, 220, 1);
    border: none;
    border-radius: 30px;

    .dialog-header {
        width: 100%;
        height: 20px;
        display: flex;
        justify-content: flex-end;

        button {
            width: 16px;
            height: 16px;
            padding: 8px;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: rgba(54, 53, 52, 1);
            color: rgba(253, 234, 220, 1);
        }
    }
    img {
        width: 80px;
        height: 57px;
    }
    h2 {
        font-size: 42px;
        line-height: 120%;
    }
    p {
        font-size: 29px;
        line-height: 120%;
    }
}

dialog::backdrop {
    background-color: rgba(69, 68, 68, 0.8);
}

.d-none {
    display: none;
    opacity: 0;
}

@media screen and (min-width: 1441px) {
    .basket-wrapper {
        margin-right: calc((100vw - 1440px) / 2);
    }
}
@media screen and (max-width: 1440px) {
    .header-content {
        padding: 0 8px;
    }

    .basket {
        margin-right: 8px;
    }
}

@media screen and (max-width: 1079px) {
    .h1-rating {
        flex-direction: column-reverse;
        align-items: center !important;
        justify-content: center;
        gap: 0 !important;
        padding-top: 18px;
    }

    .descr {
        margin-bottom: 32px !important;
        padding: o 16px !important;
    }

    .category {
        margin-top: 38px;
    }

    .category-content {
        margin: 0 !important;
        padding: 0;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start !important;
        height: 250px !important;
        width: 400px !important;

        img {
            transform: translateY(22px) translateX(0px) !important;
        }

        .burger-span {
            display: none !important;
        }
    }

    .cat-menu {
        width: 100% !important;
        align-items: center !important;
        margin-bottom: 8px !important;
        padding: 20px 16px !important;

        .menu-box {
            height: 348px !important;
            width: 100% !important;
            min-width: 300px !important;
            max-width: 445px !important;
            flex-direction: column;
            margin-right: 0 !important;
            margin-bottom: 32px !important;
            padding-bottom: 8px !important;
            padding-top: 16px !important;

            .dish-img {
                width: 96% !important;

                img {
                    width: 100% !important;
                    height: 130px !important;
                    object-fit: cover;
                    border-radius: 50px !important;
                }
            }

            .menu-descr {
                width: 100%;
                height: 300px !important;
                flex-direction: column;
                padding-bottom: 0px !important;

                .menu-text {
                    display: flex !important;
                    justify-content: center !important;
                    align-items: center !important;
                    padding-bottom: 8px !important;
                    text-align: center;
                }
            }

            .menu-price {
                flex-direction: unset !important;
                align-items: flex-end !important;
                padding-bottom: 2px !important;

                .btn {
                    width: 50px;
                }
            }
        }
    }

    .basket-wrapper,
    .basket {
        display: none !important;
    }

    .footer-content {
        height: 100%;
        flex-direction: column-reverse;
        gap: 8px !important;

        .imprint {
            order: 1;
        }
    }

    .mobil-nav {
        position: sticky;
        bottom: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .menu-icon {
        display: none;
    }

    .close-basket {
        display: flex !important;
    }
}

@media screen and (max-width: 1272px) and (min-width: 1080px) {
    .menu-box {
        margin-right: calc(1440px - 100vw) !important;
    }
}

.mobil-basket-wrapper {
    display: flex !important;
    width: 95% !important;

    .mobil-basket {
        display: flex !important;
        z-index: 1;
        width: 98% !important;
        max-width: 320px;
        height: 80svh !important;
        border-top-right-radius: 30px;
        border-bottom-right-radius: 30px;
        top: 8svh !important;
    }
}
