body {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.dish-wrapper::-webkit-scrollbar {
    width: var(--sb-size);
}

.dish-wrapper::-webkit-scrollbar-track {
    background: var(--sb-track-color);
    border-radius: 30px;
}

.dish-wrapper::-webkit-scrollbar-thumb {
    background: var(--sb-thumb-color);
    border-radius: 30px;
}

@supports not selector(::-webkit-scrollbar) {
    .dish-wrapper {
        scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
    }
}

.header {
    width: 100%;
    height: 128px;
    background-color: rgba(231, 108, 31, 1);
    display: flex;
    justify-content: center;
    align-items: center;

    .header-content {
        width: 100%;
        height: 100%;
        max-width: 1440px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .left-icons {
            display: flex;
            gap: 4px;

            .dinner {
                width: 34px;
                height: 38px;
            }
            .bestellapp {
                width: 55px;
                height: 37px;
            }
        }

        .menu-icon {
            width: 45px;
            height: 35px;
        }
    }
}

main {
    width: 100%;
    height: 100%;
    min-height: calc(100svh - 256px);
    /* background-color: yellow; */
    display: flex;
    flex-direction: column;
    align-items: center;

    .hero {
        width: 100%;
        max-width: 1440px;
        height: 400px;
        object-fit: cover;
        display: flex;
        justify-content: center;

        background-image: url("./assets/img/hero.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;

        .burer-logo {
            width: 200px;
            height: 200px;
            border: 13px solid rgb(253, 234, 220);
            border-radius: 50%;
            object-fit: cover;
            transform: translateY(280px);
            z-index: 2;
        }
    }

    .headline {
        width: 100%;
        max-width: 1440px;
        margin: 87px 0 52px 0;
        display: flex;
        flex-direction: column;
        align-items: center;

        .h1-rating {
            display: flex;
            align-items: center;
            gap: 26px;
            padding-bottom: 26px;

            h1 {
                color: rgba(231, 108, 31, 1);
                font-size: 48px;
                line-height: 120%;

                span {
                    color: black;
                }
            }

            .ratings {
                width: 110px;
                height: 32px;
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 8px;
                background-color: rgba(250, 202, 172, 1);
                border-radius: 4px;

                font-size: 20px;
                line-height: 120%;
                color: rgba(54, 53, 52, 1);

                img {
                    width: 24px;
                    height: 23px;
                }

                .likes {
                    font-size: 18px;
                    line-height: 120%;
                    color: rgba(114, 109, 109, 1);
                }
            }
        }

        .descr {
            font-size: 24px;
            line-height: 120%;
        }
    }

    .order-section {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        /* background-color: red; */

        .menu-section {
            height: 100%;
            max-width: 1440px;
            display: flex;
            flex: 1;
            flex-direction: column;
            justify-content: center;
            /* align-items: center; */
            /* background-color: green; */

            .d-none {
                display: none;
                opacity: 0;
            }

            .basket-wrapper {
                width: 320px;
                display: flex;
                flex-direction: column;
                align-items: center;
                z-index: 1;
                /* background-color: yellow; */
                font-size: 32px;

                position: absolute;
                height: 100%;
                right: 0;

                .basket {
                    width: 320px;
                    background-color: rgba(54, 53, 52, 1);
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: flex-start;
                    padding-top: 65px;
                    border-top-left-radius: 30px;
                    border-bottom-left-radius: 30px;
                    position: sticky;
                    top: 0;

                    .basket-content {
                        /* background-color: green; */
                        width: 100%;
                        height: 100%;
                        display: flex;
                        flex-direction: column;
                        align-items: center;

                        h3 {
                            color: rgba(253, 234, 220, 1);
                            font-size: 32px;
                            line-height: 120%;
                            display: flex;
                            justify-content: center;
                            padding-bottom: 36px;
                        }

                        .empty-basket {
                            color: rgba(253, 234, 220, 1);
                            display: flex;
                            flex-direction: column;
                            align-items: center;

                            p {
                                font-size: 22px;
                                line-height: 120%;
                                display: flex;
                                flex-wrap: wrap;
                                justify-content: center;
                                align-items: center;
                                width: 100%;
                                text-align: center;
                                padding: 0 8px;
                            }
                            img {
                                width: 128px;
                                height: 128px;
                                margin-top: 72px;
                            }
                        }

                        .dish-wrapper {
                            /* background-color: orange; */
                            height: 360px;
                            margin-bottom: 30px;
                            display: flex;
                            flex-direction: column;
                            flex-wrap: nowrap;
                            overflow-x: auto;

                            --sb-track-color: rgba(54, 53, 52, 1);
                            --sb-thumb-color: rgba(231, 195, 173, 1);
                            --sb-size: 6px;

                            .dishes {
                                width: 270px;
                                /* height: 200px; */
                                /* max-height: 150px; */
                                display: flex;
                                flex-direction: column;
                                justify-content: space-between;
                                align-items: space-between;

                                /* height: 100%; */
                                background-color: rgba(253, 234, 220, 1);
                                margin-bottom: 10px;
                                margin-right: 10px;
                                border-radius: 20px;
                                padding: 20px;

                                .name-trash {
                                    display: flex;
                                    align-items: center;
                                    /* background-color: red; */
                                    h4 {
                                        width: 90%;
                                        font-size: 22px;
                                        line-height: 120%;
                                        display: flex;
                                        flex-wrap: wrap;
                                    }
                                    button {
                                        border: none;
                                        height: 18px;
                                        width: 16px;

                                        img {
                                            background-color: rgba(
                                                253,
                                                234,
                                                220,
                                                1
                                            );
                                        }
                                        img:hover {
                                            background-color: rgba(
                                                231,
                                                108,
                                                31,
                                                1
                                            );
                                        }
                                    }
                                }

                                .order-price {
                                    display: flex;
                                    align-items: center;
                                    justify-content: space-between;
                                    /* background-color: rgba(255, 0, 0, 0.22); */
                                    margin-top: 8px;
                                    height: 30x;

                                    .count {
                                        width: 30px;
                                        /* background-color: red; */
                                        display: flex;
                                        justify-content: center;
                                    }

                                    .plus-btn {
                                        font-size: 32px;
                                        height: 18px;
                                        width: 18px;
                                        display: flex;
                                        align-items: center;
                                        justify-content: center;
                                    }

                                    .minus-btn {
                                        /* font-size: 24x; */
                                        width: 20px;
                                        height: 20px;
                                        display: flex;
                                        align-items: center;
                                        justify-content: center;
                                    }

                                    .dish-order {
                                        width: 100%;
                                        display: flex;
                                        align-items: center;
                                        gap: 2px;
                                        font-size: 24px;
                                        line-height: 120%;
                                    }
                                    .price {
                                        width: 100px;
                                        display: flex;
                                        justify-content: flex-end;
                                        font-size: 22px;
                                        line-height: 120%;
                                        /* background-color: red; */
                                    }
                                }
                            }
                        }

                        .price-table {
                            /* background-color: orange; */
                            width: 280px;
                            color: white;
                            display: flex;
                            flex-direction: column;

                            /* gap: 8px; */
                            /* padding: 10px; */

                            .sub-fee {
                                display: flex;
                                flex-direction: column;
                                gap: 8px;
                                padding-bottom: 19px;
                                font-size: 20px;
                                line-height: 120%;

                                .sub {
                                    display: flex;
                                    justify-content: space-between;
                                }
                                .fee {
                                    display: flex;
                                    justify-content: space-between;
                                }
                                h5 {
                                    font-size: 20px;
                                    line-height: 120%;
                                }
                            }
                            .total {
                                display: flex;
                                justify-content: space-between;
                                border-top: 3px solid white;
                                padding-top: 12px;
                                padding-bottom: 31px;
                                font-size: 22px;
                                line-height: 120%;

                                h5 {
                                    font-size: 22px;
                                    line-height: 120%;
                                }
                            }
                        }

                        .order-btn {
                            width: 200px;
                            height: 64px;
                            background-color: rgba(231, 108, 31, 1);
                            color: white;
                            font-size: 30px;
                            line-height: 120%;
                            border-radius: 60px;
                            margin-bottom: 32px;
                        }
                    }
                }
            }

            .category {
                width: 100%;
                height: 60px;
                display: flex;
                justify-content: flex-end;
                align-items: center;
                background-color: rgba(231, 108, 31, 1);

                .category-content {
                    width: 75%;
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                    color: white;
                    /* padding-right: 250px; */
                    /* background-color: red; */

                    img {
                        width: 88px;
                        height: 91px;
                        transform: translateY(-10px);
                    }
                    h2 {
                        font-size: 40px;
                        line-height: 120%;
                    }
                }
            }

            .cat-menu {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                /* background-color: red; */
                padding: 16px 0 45px 0;

                .menu-box {
                    background-color: rgba(253, 234, 220, 1);
                    padding: 10px;
                    margin-bottom: 8px;
                    margin-right: 100px;
                    display: flex;
                    gap: 16px;
                    width: 713px;
                    height: 141px;
                    border-radius: 12px;

                    .dish-img {
                        width: 207px;
                        height: 121px;

                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                            border-radius: 12%;
                        }
                    }

                    .menu-descr {
                        width: 100%;
                        height: 106px;
                        display: flex;
                        /* gap: 8px; */

                        .menu-text {
                            display: flex;
                            flex: 1;
                            flex-direction: column;
                            align-items: flex-start;
                            h3 {
                                font-size: 24px;
                                line-height: 100%;
                                padding-bottom: 8px;
                            }
                            p {
                                display: flex;
                                flex-wrap: wrap;
                                font-size: 16px;
                                line-height: 120%;
                            }
                        }
                        .menu-price {
                            width: 115px;
                            display: flex;
                            flex-direction: column;
                            justify-content: space-between;

                            p {
                                font-size: 24px;
                                text-align: right;
                            }

                            button {
                                width: 100%;
                                height: 30px;
                                font-size: 14px;
                                line-height: 120%;
                                padding: 5px 8px;
                                border-radius: 20px;
                                border: none;
                            }
                            .btn-addet {
                                color: rgba(231, 108, 31, 1);
                            }
                            .btn-addet:hover {
                                color: red;
                            }
                            button:hover {
                                color: rgba(231, 108, 31, 1);
                            }
                        }
                    }
                }
            }
        }
    }
}

.footer {
    width: 100%;
    height: 128px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(231, 108, 31, 1);

    .footer-content {
        width: 100%;
        max-width: 1440px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 72px;
        color: white;
        font-size: 18px;
        line-height: 120%;
    }
}

dialog.opened {
    transition: all 300ms ease-in-out;
    margin: auto;
    padding: 32px 40px;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;

    background-color: rgba(54, 53, 52, 1);
    color: rgba(253, 234, 220, 1);
    border: none;
    border-radius: 30px;

    .dialog-header {
        width: 100%;
        height: 20px;
        display: flex;
        justify-content: flex-end;

        button {
            width: 16px;
            height: 16px;
            padding: 8px;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: rgba(54, 53, 52, 1);
            color: rgba(253, 234, 220, 1);
        }
    }
    img {
        width: 80px;
        height: 57px;
    }
    h2 {
        font-size: 42px;
        line-height: 120%;
    }
    p {
        font-size: 29px;
        line-height: 120%;
    }
}

dialog::backdrop {
    background-color: rgba(69, 68, 68, 0.8);
}

@media screen and (max-width: 768px) {
    .basket-wrapper,
    .basket,
    .menu-icon {
        display: none;
        opacity: 0;
        width: 0px;
        height: 0px;
    }

    .menu-box {
        /* flex-direction: column; */
        background-color: red;
        color: red;
    }
}
