* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    position: relative;
}

html {
    font-size: 16px;
    font-family: "Palanquin";
    font-style: normal;
    font-weight: 700;
}

.dish-wrapper::-webkit-scrollbar {
    width: var(--sb-size);
}

.dish-wrapper::-webkit-scrollbar-track {
    background: var(--sb-track-color);
    border-radius: 30px;
}

.dish-wrapper::-webkit-scrollbar-thumb {
    background: var(--sb-thumb-color);
    border-radius: 30px;
}

@supports not selector(::-webkit-scrollbar) {
    .dish-wrapper {
        scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
    }
}
